{% extends "base.html" %}

{% block content %}
  <section id="intro">
    <p>
      I mostly write about hobby game development in Python or Common Lisp.
    </p>
    <p><a href="/now">What I'm doing now &rarr;</a></p>
  </section>

  <section id="latest-posts">
    <h2>Latest Posts</h2>
    {% for article in articles[:3] %}
      <article>
        <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        <time datetime="{{ article.date }}">{{ article.friendly_date }}</time>
      </article>
    {% endfor %}
    <p><a href="/posts">All posts &rarr;</a></p>
  </section>

{% endblock %}
