<header class="site-header" role="header">

  <div class="wrapper header-wrapper">

    <h1 class="site-title" itemprop="name">
      <a itemprop="url" href="{{ "/" | relative_url }}">Andy Driver</a>
    </h1>

    <p itemprop="description" class="header-item header-about">
    </p>

    <nav class="site-nav" role="navigation">
      {% for link in site.data.navigation.main %}
      <span class="nav-item nav-item-current" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}" itemprop="url">
          <span itemprop="name">{{ link.title }}</span>
        </a>
      </span>
      {% endfor %}
    </nav>

  </div>

</header>
