---
layout: default
---
<article class="post {%- if page.image-url %} image-post{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    {%- if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
    {%- if page.categories != empty %} • {% include category_links.html categories=page.categories %}
    {%- endif -%}
  </header>

  {% if page.image-url %}
  <figure class="post-media">
    <img itemprop="image" src="{{ page.image-url }}" alt="">
  </figure>
  {% endif %}

  <section class="post-body">
    <div class="post-content" itemprop="articleBody">

      <h2 class="post-title" itemprop="headline">
        {% if page.external-url %}
          <a href="{{ page.external-url }}">{{ page.title | escape }} &rarr;</a>
        {% else %}
          {{ page.title | escape }}
        {% endif %}
      </h2>

      {{ content }}
    </div>

    <p class="post-meta">
      {% for tag in post.tags %}
      <a href="">{{ tag | escape }}</a>
      {% endfor %}
    </p>
  </section>

  <section class="post-comments">
  {% if site.comments != false and page.comments != false %}
    <div class="post-comments" itemprop="comment">
      {% include custom_comments_provider.html %}
    </div>
  {% endif %}
  </section>

</article>
