:root {
  --background-colour: #eee;
  --logo-colour: #ddd;
  --font-colour: #666;
  --link-colour: HSL(52, 40%, 55%);
  --heading-colour: #777;
  --subheading-colour: #999;
}

@media (prefers-color-scheme: dark) {
  --background-colour: #111;
  --logo-colour: #000;
  --font-colour: #888;
  --link-colour: HSL(52, 40%, 55%);
  --heading-colour: HSL(0, 0%, 87%);
  --subheading-colour: #444;
}

.dark {
  --background-colour: #111;
  --logo-colour: #000;
  --font-colour: #888;
  --link-colour: HSL(52, 40%, 55%);
  --heading-colour: HSL(0, 0%, 87%);
  --subheading-colour: #444;
}

@font-face {
  font-family: 'gilroy-extrabold';
  src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'mobo-bold';
  src: url('../fonts/mobo-bold-webfont.woff2') format('woff2'),
       url('../fonts/mobo-bold-webfont.woff') format('woff');
  font-weight: normal;
}
html {
  font-size: 40px;
  background-color: var(--background-colour);
  transition: background-color 0.5s ease;
}
h1, h2, h3, h4 {
  font-family: gilroy-extrabold, sans-serif;
}
h2 {
  font-size: 120%;
}
.content>h1 {
    /* font-size: 26.6vmax; */
}

@media screen and (min-width: 1000px) {
  .content {
    font-size: 19px;
  }
}

/* spacing */
body {
  margin: 0;
}
.content {
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.content>h1 {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--logo-colour);
  z-index: -1;
  -webkit-text-stroke-width: 0.1em;
  font-family: mobo-bold;
  font-size: 25vw;
}
.site-header {
  width: 100%;
}
.site-header nav {
  width: 65%;
  margin: 0 auto;
}
.site-header nav ul {
  display: table;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
}
.site-header nav ul::after {
  content: "";
  clear: both;
  display: table;
}
.site-header nav li {
  display: table-cell;
  list-style-type: none;
  text-align: left;
  vertical-align: middle;
  color: var(--heading-colour);
  text-decoration: none;
  font-family: gilroy-extrabold, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  padding: 0;
  margin: 0;
  line-height: 0;
  height: 64px;
}

.site-header nav a {
  text-decoration: none;
  color: var(--heading-colour);
  font-size: 42px;
  line-height: 1;
}

.site-header nav .github-link {
  display: inline-block;
  width: 60px;
}
.site-header nav .github-link a {
  display: block;
  color: var(--heading-colour);
  width: 33px;
  padding: 16px 0;
}
.site-header nav .github-link svg {
  width: 100%;
  height: 100%;
}
.site-header nav .github-link svg path {
  transform: scale(0.333333);
}
.site-header nav .github-link span {
  display: none;
}

.site-header nav .toggle {
  width: 62px;
  height: 64px;
  display: inline-block;
}
.site-header nav .toggle input {
  position: relative;
  cursor: pointer;
  height: 0;
  margin: 0;
}
.site-header nav .toggle input::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 26px;
  background: var(--background-colour);
  border-radius: 40px;
  border: 3px solid var(--heading-colour);
  top: 6px;
}
.site-header nav .toggle input::after {
  content: "";
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 30px;
  position: relative;
  top: 11px;
  left: 5px;
  background: var(--heading-colour);
  z-index: 2;
  transform: translate(0);
  transition: transform 0.5s ease;
}
.site-header nav .toggle input:checked::after {
  transform: translateX(30px);
}
.site-header nav .toggle span {
  display: none;
}

.site-header nav .contact {
  color: HSL(52, 89%, 63%);
  border: 4px solid #f5df4d;
  white-space: nowrap;
}
.content>main {
  color: var(--font-colour);
  font-family: sans-serif;
  margin-top: 3em;
}
@media screen and (min-width: 1000px) {
    .content>main {
        width: 65%;
        margin: 3em auto 0;
    }
}
main>article {
  max-width: 65ch;
  margin: 0 0 1rem;
}
main a {
  color: var(--link-colour);
  text-decoration: none;
}
main p {
  line-height: 1.5;
}
.gemoji {
  margin: 0.1em 0 0.4em;
  width: 1em;
  height: 1em;
}
main h1 {
  font-family: gilroy-extrabold, sans-serif;
  color: var(--heading-colour);
  margin: 0;
}
main h1>a {
  text-decoration: none;
  color: var(--heading-colour);
}
main h1+span {
  font-family: sans-serif;
  font-size: smaller;
  color: var(--subheading-colour);
}
main h3 {
  margin: 2em 0 0;
}
main blockquote {
  background-color: #272822;
  font-size: 84.2105%;
  padding: 1em;
  margin: 0 0 1em;
  overflow-x: scroll;
}
main blockquote h3:first-child {
  margin-top: 0;
}
@media screen and (min-width: 1000px) {
  .toc {
    position: fixed;
    left: 2%;
    font-size: smaller;
    width: 15%;
  }
}
.highlight pre {
  padding: 1em;
  overflow-x: scroll;
}
.highlight {
  scrollbar-width: thin;
  scrollbar-color: #444 #272822;
}
.highlight ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.highlight ::-webkit-scrollbar-track,
.highlight ::-webkit-scrollbar-corner {
  background-color: #272822;
}
.highlight ::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 3px;
  border: 0;
}
main code {
  display: inline-block;
  font-size: 84.2105%;
}
.dark main code {
  background-color: #272822;
}
.footnote {
  font-size: 73.684%;
  margin: 0;
  padding: 0.5em;
}
.footnote hr {
  border: 0.5px solid #888;
  width: 75%;
  margin: 2em auto;
}
nav.series ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.series li {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background-color: #444;
}
nav.series .hidden {
  display: none;
}

.num-comments {
  font-size: 60%;
  background: var(--font-colour);
  color: var(--background-colour);
  display: inline-block;
  border-radius: 1em;
  padding: 0 0.5em;
  vertical-align: middle;
  margin: 0 0 2px 0.5em;
}
.comments, .replies {
  list-style-type: none;
}
.comments {
  padding: 0;
  font-size: 80%;
}
.comment {
  margin-bottom: 1.5em;
}
.comment .meta {
  position: relative;
  list-style: none;
  cursor: pointer;
  padding-left: 1.7em;
  margin-left: 1.2em;
  height: 2.4em;
}
.comment .meta::-webkit-details-marker {
  display: none;
}
.comment .meta img {
  float: left;
  width: 2.4em;
  height: 2.4em;
  margin-left: -2.9em;
}
.comment .meta .author {
  display: block;
  font-weight: bold;
  color: var(--heading-colour);
  line-height: 1.2em;
}
.comment .meta time {
  display: block;
  line-height: calc(1.2em / 0.8);
  font-size: 80%;
  color: var(--subheading-colour);
  vertical-align: baseline;
}
.comment .body {
  clear: both;
  padding: 0 0 0 1.7em;
  margin: 0.5em 0 0 1.2em;
  border-left: 0.5px solid var(--subheading-colour);
}
.replies {
  padding: 1.5em 0 0 1.7em;
  margin-left: 1.2em;
  border-left: 0.5px solid var(--subheading-colour);
}

form label {
  box-sizing: border-box;
  display: block;
  margin: 0.5em 0 0.5em;
  font-size: 80%;
  font-weight: bold;
  color: var(--subheading-colour);
  float: left;
  min-width: 100%;
}
.col-2 {
  min-width: 48%;
}
.col-2 + .col-2 {
  float: right;
}
form input,
form textarea {
  box-sizing: border-box;
  display: block;
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;
  background: var(--background-colour);
  border: 1px solid var(--subheading-colour);
  border-radius: 0.5em;
  font-size: 100%;
}
form textarea {
  width: 100%;
}
form button {
  clear: left;
  margin-top: 0.5em;
  font-size: 80%;
  float: right;
}

.services div {
  box-sizing: border-box;
  width: 48%;
  min-height: 15em;
  padding: 2em;
  margin: 1em 1%;
  float: left;
  border: 1px solid #888;
}

.services h1 {
  font-size: smaller;
  text-transform: uppercase;
}

.services ul {
  list-style: none;
}

.content main .btn {
  display: block;
  width: max-content;
  padding: 0.5em 1em;
  background: var(--link-colour);
  color: white;
  text-decoration: none;
  font-family: gilroy-extrabold, sans-serif;
  font-weight: bold;
  border: 0;
  border-bottom: 4px solid HSL(52, 40%, 45%);
  cursor: pointer;
}

.content main a.btn {
  margin: 0 auto;
  font-size: 1.2em;
}
