/* typography */
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
    font-size: 40px;
}
h1, h2, h3, h4 {
  font-family: gilroy-extrabold, sans-serif;
}
h2 {
  font-size: 120%;
}
body>h1 {
    font-size: 26.6vmax;
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 19px;
  }
}

/* spacing */
body {
  background-color: #111;
  margin: 0;
}
body>h1 {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  line-height: 0.81;
  text-transform: uppercase;
  color: #000;
  z-index: -1;
  -webkit-text-stroke-width: 0.1em;
}
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.3em);
  z-index: 99;
}
.site-header nav {
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 1000px) {
    .site-header nav {
        width: 65%;
    }
}
.site-header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.site-header nav li {
  list-style-type: none;
  display: inline-block;
  width: 25%;
  height: 4em;
  text-align: center;
}
.site-header nav a {
  text-transform: uppercase;
  color: #777;
  text-decoration: none;
  font-family: gilroy-extrabold, sans-serif;
  display: block;
  line-height: 3;
  margin: 0.5em auto;
}
.site-header nav .contact {
  color: HSL(52, 89%, 63%);
  border: 4px solid #f5df4d;
  padding: -5px;
  white-space: nowrap;
}
body>main {
  color: #888;
  font-family: sans-serif;
  margin-top: 4em;
}
@media screen and (min-width: 1000px) {
    body>main {
        width: 65%;
        margin: 4em auto 0;
    }
}
main>article {
  max-width: 65ch;
  margin: 3rem 0 1rem;
}
main a {
  color: HSL(52, 40%, 55%);
  text-decoration: none;
}
main p {
  line-height: 1.5;
}
main img {
  margin: 0 1em 1em;
}
.gemoji {
  margin: 0.1em 0 0.4em;
  width: 1em;
  height: 1em;
}
main h1 {
  font-family: gilroy-extrabold, sans-serif;
  color: HSL(0, 0%, 87%);
  margin: 0;
}
main h1>a {
  text-decoration: none;
  color: #ddd;
}
main h1+span {
  font-family: sans-serif;
  font-size: smaller;
  color: #444;
}
main blockquote {
  border-left: 3px solid #444;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.4;
  margin: 1.1em 0;
  padding: 0.2em 2em;
  position: relative;
}
main blockquote::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #060606;
  width: 5px;
  margin-top: -1em;
}
main blockquote::after {
  content: "\201d";
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: #444;
  line-height: 1em;
  text-align: center;
  text-indent: -4px;
  width: 1em;
  margin-top: -0.26em;
}
blockquote cite {
  color: #444;
  display: block;
  font-size: 0.75em;
  line-height: 1.8em;
  margin-top: 1em;
}
.highlight pre {
  padding: 1em;
  overflow-x: scroll;
}
.highlight {
  scrollbar-width: thin;
  scrollbar-color: #444 #272822;
}
.highlight ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.highlight ::-webkit-scrollbar-track,
.highlight ::-webkit-scrollbar-corner {
  background-color: #272822;
}
.highlight ::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 3px;
  border: 0;
}
main code {
  display: inline-block;
  background-color: #272822;
}

.services div {
  box-sizing: border-box;
  width: 48%;
  min-height: 15em;
  padding: 2em;
  margin: 1em 1%;
  float: left;
  border: 1px solid #888;
}

.services h1 {
  font-size: smaller;
  text-transform: uppercase;
}

.services ul {
  list-style: none;
}
